src/__tensorflow/_tensorflow_c/include/
src/__tensorflow/_tensorflow_c/lib/
src/__tensorflow/_tensorflow_c/tensorflow.dll
src/__tensorflow/_tensorflow_c/tensorflow.lib
src/__tesseract/_tesseract_cpp/include/
src/__tesseract/_tesseract_cpp/lib/
src/__tesseract/_tesseract_cpp/tesseract_dll.dll
src/__tesseract/_tesseract_cpp/*.lib
src/__netCore/Pruebas.Cliente/bin/
src/__cppBuilder/tesseract/tesseract_test/tesseract.dll
src/__cppBuilder/tesseract/tesseract_exe/Win64/Debug/tesseract.dll
src/__cppBuilder/tesseract/tesseract_dll/Win64/Debug/tesseract.dll
