_TensorflowAppC/include/
_TensorflowAppC/lib/
_TensorflowAppCpp/include/
_TensorflowAppCpp/lib/
_TensorflowAppC/tensorflow.dll
_TensorflowAppC/tensorflow.lib
_TensorflowAppCpp/tensorflow.dll
_TensorflowAppCpp/tensorflow.lib
_TesseractAppCpp/vcpkg/
_TesseractAppCpp/include/
_TesseractAppCpp/lib/
_TesseractAppCpp/__dist/
_TesseractAppCpp/*.lib



