
@model IEnumerable<Personal>;



<!-- INICIO HTML -->

<h1>PERSONAL (v2)</h1>
<br />

<button id="btnAgregarPersonal" class="btn btn-primary">Agregar Personal</button>

<br />


<!-- INICIO LISTADO JQUERY -->
<table id="PersonalTableJson" class="display" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Primer Nombre</th>
            <th>Primer Apellido</th>
            <th>Cedula</th>
            <th>...</th>
        </tr>
    </thead>
    <tfoot>
        <!--
        <tr>
            <th>ID</th>
            <th>Primer Nombre</th>
            <th>Primer Apellido</th>
            <th>Cedula</th>
        </tr>
        -->
    </tfoot>
</table>
<!-- FIN LISTADO JQUERY    -->
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">[Confirmación]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>¿Confirma que borra el registro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger"    id="confirmDeleteBtn">Borrar</button>
            </div>
        </div>
    </div>
</div>

<!-- FIN HTML -->

<!--  INICIO SCIRPT -->
<script type="text/javascript">
    //
    $(document).ready(function () {
        //
        console.log('[PERSONAL PAGE INIT]');
        //
        let recordToDelete = null;
        //
        let table          = null;
        //
        let p_url          = "ObtenerPersonalJson";
        //
        $.ajax({
            url: p_url
        })
        .done(function (data) {
            //
            let jsonDataStr = JSON.stringify(data);
            let jsonData    = JSON.parse(jsonDataStr);
            //
            console.log("Personal : " + jsonDataStr);
            //
            table = $('#PersonalTableJson').DataTable({
                  "data": jsonData 
                , "dataSrc": ""
                , "error"  : function (xhr, status, error) {
                    console.error('AJAX Error:', error);
                    alert('Error loading data. Check the console.');
                }
                , "columns": [
                    { "data": "id"         },
                    { "data": "pApellido"  },
                    { "data": "sApellido"  },
                    { "data": "cedula"     },
                    {
                        "data": null,
                        render:function(data, type, row) {
                            // Handle null status
                            if (data === null) {
                                    return '';
                            } else
                                    return `<button class="btn btn-danger btn-sm delete-btn" data-id="${data.id}">Borrar</button>`
                                    //return `<button class="btn btn-danger btn-sm delete-btn" data-id="1">Borrar</button>`
                            }
                    }
                ]
                ,"language" : {
                    emptyTable: "No se encontraron registros."
                }
            });
        });


        // Show modal when delete button is clicked
        $(document).on('click', '.delete-btn', function () {
            recordToDelete = $(this).data('id');
            $('#deleteModal').modal('show');
        });

        // Handle delete confirmation
        $(document).on('click', '#confirmDeleteBtn', function () {
            //
            console.log("Record to delete : " + recordToDelete);
            //
            if (recordToDelete) {
                $.ajax({
                     url: `DeleteJson/${recordToDelete}`,
                    method: 'GET',
                   success: () => {
                        $('#deleteModal').modal('hide');
                        //table.ajax.reload(); //ERROR SIN PODER CORREGIR
                        location.reload();
                        console.log("Record Deleted " + recordToDelete);
                    },
                    error: (err) => console.error(err)
                });
            }
        });
    });
 </script>
<!--  FIN SCIRPT -->